.HeaderContainer {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 1rem 1.6rem;
  max-width: 1400px;
  margin: 0 auto;
  @media (max-width: 750px) {
    flex-direction: column;
  }
  .button {
    padding: 0.4rem 4rem;
  }
}
